@import "tailwindcss";
.input {
  @apply w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

:root {

  /*  ====== Colors System  ========= */
  --color-text-light: #ffffff;
  --color-text-black: #000000;
  --color-text-gold: #ffcf56; 
  --color-hover: #641888;
  --color-footer: #424242;
  /*  ====== Font Colors System  ========= */

  --color-secondary: #ddddddbd;
}

body {
  direction: rtl;
  background-color: #e0e0e0;
  /* color: #ff000088; */
  /* font-family: "Cairo"; */
}
.nav {
  background-color: #72727231;
}

/* للمتصفحات المبنية على WebKit */
body::-webkit-scrollbar {
  width: 15px; /* عرض الـ scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-text-gold); /* لون خلفية الـ track */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-hover); /* لون المؤشر */
  border-radius: 6px; /* انحناء المؤشر */
  border: 0.5px solid #000000;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #44105c; /* لون عند hover */
}


/* لون مؤشر الكتابة */
input, textarea, body {
  caret-color: var(--color-text-black); /* أو أي لون تحبه */
}

::selection {
  background-color: var(--color-hover); 
  color: var(--color-secondary); 
}


